.field{
    display: flex;
    flex-direction: column;
}

label{
    font-size: large;
    font-weight: bold;
    text-align: start;
    margin: 8px;
}

input{
    border-radius: 10px;
    margin: 5px;
}

.opening-text{
    height: 100px;
}