.description{
    display: flex;
    margin-top: 40px;
}

.label{
padding-right: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
}

.button{
    height: 30px;
    align-self: center;
}