/* Add these styles to your CSS */
.cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1; /* Place it above everything else */
  }
  
  .cart.open {
    display: block; /* Show the cart when it's open */
    /* Rest of your styles for the open cart */
  }
  
  .cart-button {
    cursor: pointer;
  }
  