.cart {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
  }
  
  .cart.open {
    right: 0;
  }
  
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-content {
    padding: 1em;
  }

  .content{
    display: flex;
  }

  .item{
    padding: 10px;
    font-size: large;
  }
  
  .cart-content ul {
    list-style: none;
    padding: 0;
  }
  
  .cart-content ul li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-content ul li:last-child {
    border-bottom: none;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
  }
  
  .close-button:focus {
    outline: none;
  }

  .button{
    font-weight: bold;
    background-color: aqua;
    border-radius: 10px;
    border-color: antiquewhite;
  }
  