
  .email-details {
    display: flex;
    align-items: center;
  }

  .email{
    margin-right: 20px;
  }
  
.circle-read{
    width: 10px;
    height: 15px;
    border-radius: 50%;
    border-color: black;
    background-color: gray;
    margin-right: 10px;
}

.circle-unread{
    width: 10px;
    height: 15px;
    border-radius: 50%;
    border-color: black;
    background-color: blue;
    margin-right: 10px;
}
  
  
  