.form{
    display: flex;
}

.sub-heading{
margin: 20px;
}

.label{
    font-weight: bold;
    color: rgb(175, 68, 68);
    font-size: large;
}

.add-button{
    background-color: rgb(172, 57, 57);
    border-radius: 10px;
    border-color: brown;
    color: white;
    font-size: large;
    font-weight: bolder;
}